<!DOCTYPE html>
<html ng-app="appCore">
	<head>
		<base href="./" />
		<title>nCore2Transmission</title>
		<link rel="icon" href="https://ncore.cc/styles/ncore.ico" type="image/x-icon" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<!-- Bootstrap & JQuery -->
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
			integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
			integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<!-- <script type="text/javascript"> $(function () { $('[data-toggle="tooltip"]').tooltip(); }); </script> -->

		<!-- AngularJS -->
		<script src="https://code.angularjs.org/1.8.0/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.8.0/angular-cookies.min.js"></script>
		<script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
		<script src="https://code.angularjs.org/1.8.0/angular-animate.min.js"></script>

		<!-- own -->
		<link rel="stylesheet" type="text/css" href="./bin/css/style.css" />
	</head>
	<body>
		<div id="keret" class="container">
			<div id="kereso" ng-show="!toltes">
				<label>Film címe:</label>
				<input type="text" class="d-inline-block form-control form-control-sm" ng-model="cim" />
				<button class="btn btn-sm btn-info" type="button" ng-click="keresFn(cim)">
					Keresés
				</button>
			</div>
			<div id="wait" ng-show="toltes">
				<span>Várjál... anja!</span>
			</div>
			<hr ng-show="!toltes && !data.isEmpty()" />
			<table ng-show="!toltes && !data.isEmpty()">
				<tbody>
					<tr>
						<th></th>
						<th>Cím</th>
						<th></th>
					</tr>
					<tr ng-repeat="tor in data | limitTo: 20 track by $index">
						<td><img ng-src="{{tor.img}}" /></td>
						<td>
							<span>{{ tor.name }}</span>
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path
										d="M18.516 18.448c1.648 1.946-1.365 3.802-2.292 1.451-.425-1.081-1.438-3.76-1.69-4.434-.313-.833.499-1.25 1.012-.557.34.459 2.263 2.706 2.97 3.54zm3.484-18.448v24h-20v-24h20zm-2 2h-16v20h1v-1.5c0-.276.224-.5.5-.5s.5.224.5.5v1.5h1v-1.5c0-.276.224-.5.5-.5s.5.224.5.5v1.5h1v-1.5c0-.276.224-.5.5-.5s.5.224.5.5v1.5h10v-20zm-8 7c-.551 0-1 .449-1 1s.449 1 1 1 1-.449 1-1-.449-1-1-1zm0-6c3.866 0 7 3.134 7 7 0 1.956-.804 3.723-2.098 4.993-.262-.314-.47-.569-.554-.682-.354-.478-.861-.753-1.391-.753-.485 0-.939.237-1.215.635-.311.449-.364 1.041-.145 1.623l.341.906c-.616.177-1.265.278-1.938.278-3.866 0-7-3.134-7-7s3.134-7 7-7zm-2.5 2.836c.656-.396 1.374-.605 2.091-.65l.12-.777c-.893.028-1.79.276-2.609.771-.818.492-1.455 1.171-1.897 1.947l.744.257c.374-.613.893-1.15 1.551-1.548zm.794 1.318c.334-.201.692-.324 1.056-.387l.121-.792c-.54.057-1.077.22-1.575.521-.496.3-.89.698-1.193 1.149l.756.264c.226-.293.501-.553.835-.755zm3.706 2.846c0-1.105-.895-2-2-2s-2 .895-2 2 .895 2 2 2 2-.895 2-2z"
									/>
								</svg>
								<label>{{ tor.size }}</label>
							</span>
						</td>
						<td>
							<button class="btn btn-light" ng-click="letoltFn(tor)">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path d="M16 11h5l-9 10-9-10h5v-11h8v11zm1 11h-10v2h10v-2z" />
								</svg>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- ertesito letoltesrol -->
		<div class="bg-layer" ng-show="!ertesites.isEmpty()">
			<div class="ertesites-container">
				<div class="fejlec">
					Film letöltése megkezdődött!
				</div>
				<div class="tartalom">
					<img ng-src="{{ ertesites.img }}" ng-if="true" />
					<div class="cim">
						<span>{{ ertesites.name }}</span>
						<span>Méret: {{ ertesites.size }}</span>
						<span>{{ ertesites.imdb }}</span>
						<span>S/L: {{ ertesites.seeders + "/" + ertesites.leechers }}</span>
					</div>
				</div>
				<div class="footer">
					<button class="btn btn-sm btn-dark" ng-click="ertesites={}">Rendben</button>
				</div>
			</div>
		</div>

		<script src="./bin/js/core.js"></script>
	</body>
</html>
