html {
	background-image: url('../img/hatter1.jpg');
	background-size: 100%;
	background-attachment: fixed;

	body {
		position: relative;
		background-color: transparent;
		padding: 2rem 0.5rem;

		#keret {
			position: relative;
			background-color: rgba(black, 0.6);
			padding: 1rem;
			color: white;
			// color: powderblue;
			border: 2px solid rgba(black, 0.25);
			border-radius: 0.5rem;
			// margin-top: 2rem;
			backdrop-filter: blur(4px);
			box-shadow: 0px 2px 8px 2px rgba(black, 0.7);

			#kereso {
				display: flex;
				align-items: center;

				*:not(:last-child) {
					margin-right: 0.5rem;
				}
				label {
					font-size: 1.25rem;
					white-space: nowrap;
				}
				input {
					max-width: 20rem;
					flex: 1 1 auto;
				}
			}
			#wait {
				text-align: center;
				font-size: 2rem;
			}
			.datatable {
				.item {
					display: grid;
					grid-template-columns: auto 1fr auto;
					gap: 0.5rem;
					align-items: center;
					padding: 0.5rem 0;
					img {
						max-height: 5rem;
						max-width: 3.75rem;
					}
					div {
						.nev {
							word-break: break-word;
						}
						.data {
							white-space: nowrap;
							svg {
								width: 1.25em;
								height: auto;
								fill: white;
							}
						}
					}
					button {
						padding: 0.25em 0.5em;
						svg {
							width: 1.25em;
							height: auto;
							fill: black;
						}
					}
					&:not(:last-of-type) {
						// margin-bottom: 0.5rem;
						border-bottom: 1px solid rgba(white, 0.5);
					}
				}
			}
			// table {
			// 	border-collapse: separate;
			// 	border-spacing: 0.25rem 0.5rem;
			// 	table-layout: auto;
			// 	width: 100%;
			// 	tbody {
			// 		tr {
			// 			td:nth-child(2) {
			// 				word-break: break-word;
			// 			}
			// 			th:not(:nth-child(2)),
			// 			td:not(:nth-child(2)) {
			// 				width: 1%;
			// 				text-align: end;
			// 			}
			// 		}
			// 	}
			// 	img {
			// 		max-height: 5rem;
			// 	}
			// 	button {
			// 		padding: 0.25em 0.5em;
			// 		svg {
			// 			width: 1.25em;
			// 			height: auto;
			// 			fill: black;
			// 		}
			// 	}
			// 	span {
			// 		// display: inline-flex;
			// 		// align-items: center;
			// 		svg {
			// 			width: 1.25em;
			// 			height: auto;
			// 			fill: white;
			// 		}
			// 	}
			// }
		}

		.bg-layer {
			display: flex;
			align-items: center;
			justify-content: center;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: #12c2e9; /* fallback for old browsers */
			background: -webkit-linear-gradient(
				0deg,
				rgba(#f64f59, 0.75),
				rgba(#c471ed, 0.75),
				rgba(#12c2e9, 0.75)
			); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(
				0deg,
				rgba(#f64f59, 0.75),
				rgba(#c471ed, 0.75),
				rgba(#12c2e9, 0.75)
			); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			backdrop-filter: blur(4px);

			.ertesites-container {
				display: flex;
				flex-direction: column;
				background-color: rgba(white, 0.8);
				border-radius: 0.5rem;
				box-shadow: 0 2px 0.5rem 0.2rem rgba(0, 0, 0, 0.6);
				min-width: 250px;
				min-height: 150px;
				margin: 0.25rem;
				overflow: hidden;
				color: black;
				& > div {
					padding: 0.5rem;
				}
				.fejlec {
					font-size: 1.5em;
					padding: 0.5rem 1.5rem 1rem 1.5rem;
					background: linear-gradient(to bottom, rgba(black, 0.25), rgba(black, 0));
					text-align: center;
				}
				.tartalom {
					flex: 1 1 auto;
					display: flex;
					img {
						margin-right: 0.25rem;
						// max-height: 10rem;
					}
					.cim {
						display: flex;
						flex-direction: column;
						word-break: break-all;
						span:first-of-type {
							border-bottom: 1px solid rgba(0, 0, 0, 0.25);
							margin-bottom: 0.25rem;
						}
						span:not(:first-of-type) {
							font-size: 0.8rem;
						}
					}
				}
				.footer {
					text-align: center;
				}
			}
		}
	}
}
